{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block body %}
<h1 class="text-center my-5">{{ voiture.nom }}</h1>
<voiture class="container d-flex justify-content-center mb-5">
        <div class="card">
                <img class="card-img-top" src="{{ voiture.photo }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ voiture.nom }}</h4>
                    <p class="list-group-item">Marque: {{ voiture.marque | raw }}</p>
                    <p class="list-group-item">Année: {{ voiture.annee | raw }}</p>
                    <p class="list-group-item">Production: {{ voiture.production | raw }}</p>
                    <p class="card-text">{{ voiture.presentation | raw }}</p>
                </div>
            </div>
</voiture>

{% endblock %}